.article-card {
  background-color: rgb(36, 33, 56);
  border-radius: 5px;
  box-shadow: 2px 2px 5px skyblue;
  margin: 0 auto 0;
  button {
    border: 2px solid azure;
    padding: 2px;
    height: fit-content;
  }
}
.article-card-small {
  display: grid;
  grid-template-areas:
    'title title title topic'
    'title title title votes'
    'title title title comments'
    'created created author author';
  column-gap: 0.25rem;
  row-gap: 0.25rem;
  width: 280px;
  padding: 0.5rem;
  p {
    font-size: 0.65rem;
  }
  a {
    font-size: 1rem;
  }
}
.article-card-large {
  display: grid;
  grid-template-areas:
    'title title title topic'
    'title title title votes'
    'body body body votes'
    'body body body img'
    'body body body img'
    'body body body delete'
    'created created created author ';
  column-gap: 0.25rem;
  row-gap: 0.25rem;
  width: 80%;
  max-width: 1000px;
  padding: 0.5rem;
  p {
    font-size: 0.9rem;
  }
  #title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
#card-title {
  grid-area: title;
}
#card-topic {
  grid-area: topic;
  a {
    font-size: 0.65rem;
    font-style: italic;
  }
}
#card-author {
  grid-area: author;
}
#card-body {
  grid-area: body;
  min-height: 10rem;
  padding: 0.5rem;
}
#card-created {
  grid-area: created;
}
#card-votes {
  grid-area: votes;
  display: flex;
  flex-flow: column nowrap;
}
#card-comments {
  grid-area: comments;
}
#card-delete {
  grid-area: delete;
  width: 80%;
  height: 50%;
  margin: 0.5rem auto 0.5rem;
  height: fit-content;
}
#card-img {
  grid-area: img;
  width: 100%;
}

#post-article-button[disabled] {
  background-color: rgb(22, 19, 38);
  color: rgba(240, 255, 255, 0.747);
}