
#articles-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 95%;
  margin: 0.5rem auto 0.5rem;
  row-gap: 0.5rem;
  column-gap: 0.5rem;;
  background-color: rgb(22, 19, 38);
}