#add-topic-form {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 0.5rem;
  margin: 0.25rem;
}
.topic-input {
  font-size: medium;
  width: 70vw;
  max-width: 800px;
  margin: 0.25rem;
}
#submit-topic-button {
  width: 35vw;
  max-width: 400px;
  align-self: center;
}