.topics-list {
  font-size: medium;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 0.25rem;
  row-gap: 0.25rem;
  width: 50%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  button {
    background-color: rgb(36, 33, 56);
    border-radius: 5px;
    box-shadow: 2px 2px 5px skyblue;
    margin: 0.25rem;
    padding: 0.25rem;
  }
}