.article-card {
  background-color: rgb(36, 33, 56);
  border-radius: 5px;
  box-shadow: 2px 2px 5px skyblue;
  button {
    box-shadow: 5px azure;
    border: 2px solid azure;
    border-radius: 5px;
  }
}
.article-card-small {
  grid-template-areas:
    'title title title topic'
    'title title title votes'
    'author created created comments';
  column-gap: 0.25rem;
  row-gap: 0.25rem;
  width: 50vw;
  max-width: 20rem;
  margin: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;

}
.article-card-large {
  display: grid;
  grid-template-areas:
    'title title title topic'
    'body body body votes'
    'body body body votes'
    'body body body votes'
    'body body body delete'
    'author created created comments';
  column-gap: 0.25rem;
  row-gap: 0.25rem;
  width: 90vw;
  margin: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;

}
#card-title {
  grid-area: title;
}
#card-topic {
  grid-area: topic;
  font-size: small;
}
#card-author {
  grid-area: author;
  font-size: small;
}
#card-body {
  grid-area: body;
  min-height: 10rem;
  padding: 0.5rem;
}
#card-created {
  grid-area: created;
  font-size: small;
}
#card-votes {
  grid-area: votes;
  display: flex;
  flex-flow: column nowrap;
  p {
    font-size: small;
  }
  button {
    font-size: medium;
  }
}
#card-comments {
  grid-area: comments;
  font-size: small;
}
#card-delete {
  grid-area: delete;
  font-size: medium;
  width: 80%;
  height: 50%;
  margin: 0.5rem auto 0.5rem;
}