aside {
  background-color: rgb(22, 19, 38);
  opacity: 0.9;
  border-radius: 5px;
  box-sizing: content-box;
  width: 20%;
  button {
    margin: 0.25rem;
  }
}

.sidebar-link {
  margin: 0.5rem auto 1.5rem;
  text-align: left;
  a {
    font-size: 0.9rem;
  }
}