.comment-card {
  background-color: rgb(129, 120, 185);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(99, 37, 112);
  font-size: medium;
  display: grid;
  grid-template-areas:
    'body body body votes'
    'body body body delete'
    'created created created author';
  grid-template-columns: auto auto auto 5rem;
  column-gap: 0.25rem;
  row-gap: 0.25rem;
  width: 90vw;
  margin: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.25rem;
  p {
    font-size: 0.8rem;
    background-color: #9dcfb0;
    color: #080a4f;
  }
  div {
    background-color: #9dcfb0;
    color: #080a4f;
  }
  button {
    border: 2px solid rgb(129, 120, 185);
    border-radius: 5px;
    font-size: 0.7rem;
    background-color: #9dcfb0;
    color: #080a4f;
    margin: 0.25rem;
  }
}
#comment-card-author {
  grid-area: author;
}
#comment-card-body {
  grid-area: body;
  padding: 0.5rem;
}
#comment-card-votes {
  grid-area: votes;
}
#comment-card-created {
  grid-area: created;
}
#comment-card-delete {
  grid-area: delete;
}
