* {
  margin: 0;
  padding: 0%;
  text-align: center;
  color: azure;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url('https://cdn.pixabay.com/photo/2017/12/29/14/14/set-3047723_1280.jpg');
  height: 100%;
  width: 100%;
}

button {
  background-color: rgb(22, 19, 38);
  border-radius: 5px;
  box-shadow: 2px 2px 5px skyblue;
  margin: 0.1rem;
}

button:hover {
  background-color: rgb(57, 129, 238);
  color: rgb(22, 19, 38);
}

button[disabled] {
  background-color: skyblue;
  color: rgb(22, 19, 38);
}