#post-article-form {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 0.5rem;
  margin: 0.25rem;
}
.article-input {
  font-size: 0.75rem;
  width: 70vw;
  max-width: 800px;
  margin: 0.5rem;
}
#submit-article-button {
  width: 35vw;
  max-width: 400px;
  align-self: center;
}